<h2>Mobile List </h2>
<button (click)="addMobile()">Add Mobile</button><br><br>
<table border="1">
  <thead>
    <tr>
      
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let m of mobiles">
     
      <td>{{m.brand}}</td>
      <td>{{m.model}}</td>
      <td>{{m.price}}</td>
      <td><button (click)="deleteMobile(m.id)">Delete</button></td>
      <td><button (click)="updateMobile(m.id)">Update</button></td>
    </tr>
  </tbody>
</table>

<br><br>
<div *ngIf="showForm">
  <form (ngSubmit)="submitMobile()">
    Brand <input type="text" name="brand" [(ngModel)]="mobile.brand"><br><br>
    Model <input type="text" name="model" [(ngModel)]="mobile.model"><br><br>
    Price <input type="text" name="price" [(ngModel)]="mobile.price"><br><br>
    <button name="submit">submit</button>
  </form>
</div>